<%- include("partials/header") %>
<section class="content hero my-10">
    <div class="grid grid-cols-1 md:grid-cols-2 container mx-auto flex items-center justify-between">
        <div id="about" class="w-full text-center">
            <em><h3 class="text-xl">TSF Bank is one of India’s leading private banks and was among the first to receive approval from the Reserve Bank of India (RBI) to set up a private sector bank in 1998.
            <br> Today, TSF Bank has a banking network of 5,985 branches and 14,523 ATMs spread across 2,066 cities and towns.</h3></em>
            <a href="/customers">
                <button class="startbtn px-6 py-2 my-6 rounded-full text-white font-medium mt-4 focus:outline-none">Get Started</button>
            </a>
        </div>
        <div id="bank-pic">
            <img src="/images/bank-pic.jpeg" alt="">
        </div>
    </div>
</section>
<%- include("partials/footer") %>